<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <ul>
                <li><a href ="{% url 'logout' %}">Logout</a></li>
                <li><a href ="{% url 'home' %}">Home</a></li>
                <li><a href ="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href ="{% url 'category_list' %}">Category List</a></li>
                <li><a href ="{% url 'account_list' %}">Account List</a></li>
                <li><a href ="{% url 'create_category' %}">Create Category</a></li>
                <li><a href ="{% url 'create_account' %}">Create Account</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
    <h1>Account List</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for account in account_list %}
            <tr>
                {{ account.name }}
                {{ account.number }}
                {{ account.items.all|length }}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
